# Python 3
__pycache__/
.cache/
.coverage*
*.egg-info/

*.py[cod]

# macOS
.DS_Store
.pypy_cache/
.ruff_cache/
dist/
pyproject.lock
poetry.lock
cov_html/
coverage.xml
.pytest_cache/
.hypothesis/
.venv/
venv/
