language: python
sudo: false

notifications:
  email: false

python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7-dev"
  - "nightly"
  - "pypy"
  - "pypy3.5"

env:
  global:
    secure: fYDKFiKFTuYPX7cq2FiqrrtfysmrMlahXglWwDhDQfUcFG3vkZvmvwVFJCjW8wDgg3OCQR4McBaCWbg2Us9OxM0ZveI2BAbAJMfgzIfLM3Kr5yWoPYQ87wIjsr3To4LrsLWIsPSNaXIONfXKN0MhSYHHE1XMf4D+HBv2NqIuJMh3psP1Tl10H81JNcICm9UoX4HADyf5YPtkWWsK/C7st0rjQeBb9d/XwGKsxIGjVGFnQJgyCPLcIQfakIu7394bkEF4us/AaEjmv54/rR1lGWHSR3fRzv6sNobDBbrjAJCKeL7rKBoICOXit/vG51ut3vEx3w62quL16oCiWagCfDOEl8a5YNl+sWihorZJif83gMhL2oSLtyufFtT9ik59H6y/hZK9Q7r6VkLyeDtT1dt0FtoaXcULhZqt79bYRvedcNHP9rUo90reUiSbuNQMZahapBFfXl2OdVqpB892e3qZvMrX/GGdd0YMuKLiobvlK0QeYbTmkYUT0J5bdzD70PoNDj6h69Rlt4ZlMtzFwnYlCP92BzAOy923R8nzyO9HPrTK0IBQ80tACKW4I7B4+tvdenGDdDyc0D8VjNvFbK4QUelNALDYps7+0GLrFpVkZrZI3ezY8dX9ZArKuZOMxlWRI6yzCuNWFw1RZC5Om6xB1aWUlO1DUuA7wbCWFMA=

addons:
  apt:
    packages:
      - pandoc

install:
  - pip install poetry
  - poetry install --verbose

script: poetry run pytest

after_success:
  - coveralls

before_deploy:
  - git stash --all
  - poetry build -f sdist

deploy:
  provider: script
  script: poetry publish -u tammoippen -p $PYPI_PASS
  skip_cleanup: true
  on:
    branch: master
    tags: true
    python: "3.6"
